.menu a{
    text-decoration: none;
    display: inline-block;
    margin-right: 15px;
    text-transform: uppercase;
    color:#fff;
}
.menu{
    float:right;
    }

#home{
    background: url(../images/head-bg.png) fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:995px;
    color:#fff;
}

.home-h3{
    font-size: 30px;
    padding-top:165px;
}
.h1fsize{
    font-size: 60px;
}
.menu{
    padding-top: 20px;
}
hr{
    width: 60px;
    height: 2px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color:#fff;
    margin-bottom: 50px;
}
.learn-more-btn{
    padding: 10px 30px;
    border: 2px solid #fff;
    color: #fff;
}
#about-us{
    background: #fff;
    margin-top: 90px;
    margin-bottom: 110px;
}
.about-us-hr{
    width: 60px;
    height: 2px;
    color: #333;
    background-color:#f38181;
    margin-bottom: 50px;
}
.about-us-img{
    display: inline-block;
    position: relative;
}
.about-us-img:hover .background-hover{
    box-shadow: 10px 10px 0 5px #95e1d3;
    display: block;
   }

.about-us-img:hover .about-img-bg{
    display: block;
}

.about-img {
  width:100%;
   }
.about-bg-img{
    width:100%;
}
.about-us-part1{
    padding-bottom: 105px;
}
.about-us-stats:first-child{
    width: 360px;
}
.stats-class{
    display: inline-block;
}
#about-us-stats{
    width: 100%;
    background-color: #95e1d3;
    margin-bottom: 110px;
}
.about-us-stats{
    height:270px;
}
.stats-class{
    width: 230px;
    border-right: 1px solid #b5eae0;
    color:#fff;
    text-transform: uppercase;
    padding: 80px 30px 80px 30px;
}
.vertical-align{
    text-align: center;
}
.stats:first-child{
    border-left:1px solid #b5eae0;
}
.stat-no{
    font-size: 40px;
    display: block;
}
.stat-title{
    font-weight: 300;
}
.about-img-bg{
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to top, rgba(227,205,124,0.95), rgba(219,116,116,0.85));
    display: none;
}
.about-img-bg p{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color:#fff;
    font-weight: 600;
}
.about-us-users{
    position: absolute;
    top:40%;
    left: 50%;
    transform: translate(-50%,-50%);
    }

.about-us-services{
    text-align: center;
      }
.about-us-services h3{
    text-transform: uppercase;
}
#-services-about-us{
    margin-bottom: 110px;
}
.about-us-services span{
    font-style: italic;
}
.services-img{
    float:left;
}
.services-content h4{
    margin-top:0;
    text-transform: uppercase;
}
.services-content{
    float: right;
    width: 85%;
    text-align: left;
}
.services{
     overflow: hidden;
 }
.services-hr{
    width:100%;
    margin-top:50px;
    margin-bottom:50px;
}
.unique-design{
    background:url(../images/bg.png);
    max-height: 850px;
    }
.unique-design-head{
    text-align:center;
    padding-top: 110px;
}
.pad-bg{
    position: relative;

}
.unique-design-second-img{
    position: absolute;
    margin-left: 68%;
    margin-top: -65%;
}
.unique-design-container{
    padding-top:110px;
}
#service{
    margin-top:110px;
}
.service-wwd{
    text-align: center;
}
.service-head{
    border:1px solid #e5e5e5;
    padding-top: 15px;
    padding-bottom:15px;
}
.photography-txt{
    padding-top:15px;
}
.img-txt{
    padding-bottom:15px;
    border-bottom: 1px solid #e5e5e5;
}
.service-padding-issue{
    padding-left:15px;
}
.arrow{
    float:right;
    margin-right:15px;
    padding-top: 5px;
}
.service-creativity{
    margin-top:10px;
}