@media screen and (max-width:900px) {
    #home {
        background-size: initial;
    }
    .unique-design-second-img {
        width: 50%;
        margin-left: 50%;
        margin-top: -68%;
    }
    .menu-icon {
        display: inline-block;
        float: right;
        font-size: 22px;
        color: #fff;
        padding: 20px 20px 10px 20px;
    }
    .menu {
        display: none;
    }
    .arrow-1, .arrow-2 {
        display: none;
    }
    #speech4 {
        width: 20%;
        float: left;
    }
    .saying-section {
        width: 77%;
        margin-left: 0;
    }
    .saying-text {
        width: 100%;
        margin-left: 55px;
        overflow: hidden;
    }
    .service-container {
        width: 77%;
    }
    .about-us-img:hover .background-hover {
        box-shadow: none;
    }
    .round-img {
        width: 70px;
        height: 70px;
    }
    .our-work-img {
        width: 48%;
        display: inline-block;
    }
    .jelly-img {
        width: 100%;
    }
    .blog-text {
        padding-left: 10px;
        width: 58%;
    }
    .sbutton {
        padding-right: 20px;
        padding-left: 20px;
    }
    .client-data {
        width: 66%;
    }
    .drop-down-horizontal-menu:hover  .menu {
        display: block;
        position: absolute;
        width: 100%;
        height: auto;
        left: 0;
        background-color: #eaa586;
    }
    .menu a, .menu-icon{
        text-align: center;
        color: #fff;
        text-decoration: none;
        display: block;
    }
    .menu a{
        padding: 10px 20px 10px 20px;
    }
}

@media screen and (max-width: 1200px){
    .stats{
        text-align: center;
        border-left:none;
        border-right: none;
    }
    .stats-class{
        border-right: none;
        border-bottom: 1px solid #b5eae0;
    }
    .stats:first-child {
        border-left: none;
    }
    #speech4 {
        width: 40%;
        float: left;
    }
    .saying-section {
        width: 77%;
        margin-left: 0;
    }
    .saying-text {
        width: 100%;
        margin-left: 55px;
        overflow: hidden;
    }
}

@media screen and (min-width: 991px){
    .blog-text{
        width: 57%;
    }
}
